---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

// Menggunakan Astro.request.url untuk mendapatkan URL saat ini
const currentUrl = new URL(Astro.request.url);
const shareUrl = currentUrl.href;

// Fungsi untuk mengenkode URL dan teks untuk berbagi
function encodeShareUrl(url: string, text: string) {
  return encodeURIComponent(`${text} ${url}`);
}
---

<Layout title={entry.data.title}>
  <header class="text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-white">
    <Navbar />
  </header>
  <article class="max-w-4xl px-4 py-12 mx-auto sm:px-6 lg:px-8 font-sora">
    {entry.data.thumbnail && <img src={entry.data.thumbnail} alt={entry.data.title} class="object-cover w-full h-64 mb-8 rounded-lg shadow-lg" />}
    <h1 class="mb-4 text-4xl font-bold text-gray-900 dark:text-gray-50">
      {entry.data.title}
    </h1>
    <div class="flex items-center mb-4 text-gray-600 dark:text-gray-400">
      <span>{entry.data.author}</span>
      <span class="mx-2">•</span>
      <time datetime={entry.data.pubDate.toISOString()}>
        {new Date(entry.data.pubDate).toLocaleDateString()}
      </time>
    </div>
    <div class="flex flex-wrap gap-4 mb-8">
      <a
        href={`https://wa.me/?text=${encodeShareUrl(shareUrl, entry.data.title)}`}
        target="_blank"
        rel="noopener noreferrer"
        class="px-4 py-2 text-white transition duration-300 bg-green-500 rounded-full hover:bg-green-600"
      >
        Share on WhatsApp
      </a>
      <a
        href={`https://t.me/share/url?url=${encodeURIComponent(shareUrl)}&text=${encodeURIComponent(entry.data.title)}`}
        target="_blank"
        rel="noopener noreferrer"
        class="px-4 py-2 text-white transition duration-300 bg-blue-500 rounded-full hover:bg-blue-600"
      >
        Share on Telegram
      </a>
      <a
        href={`https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(shareUrl)}`}
        target="_blank"
        rel="noopener noreferrer"
        class="px-4 py-2 text-white transition duration-300 bg-blue-600 rounded-full hover:bg-blue-700"
      >
        Share on Facebook
      </a>
      <a
        href={`https://twitter.com/intent/tweet?url=${encodeURIComponent(shareUrl)}&text=${encodeURIComponent(entry.data.title)}`}
        target="_blank"
        rel="noopener noreferrer"
        class="px-4 py-2 text-white transition duration-300 bg-black rounded-full hover:bg-gray-800"
      >
        Share on X
      </a>
    </div>
    <div class="prose dark:prose-invert max-w-none">
      <Content />
    </div>
  </article>
</Layout>
